@mixin inAndOut($height, $width, $boxShadow, $fontSize) {
  box-shadow: $boxShadow;
  height: $height;
  width: $width;
  z-index: 65;
  border: none;
  font-size: $fontSize;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 10%;
  @include flex(row);

  #input-box {
    @include inAndOut(30vh, 40vw, rgb(55, 51, 51) 8px 5px 10px 1px, 1.8em);
  }
  #output-box {
    @extend #input-box;
  }

  .BsArrow-btn {
    margin: 3%;
    @include inAndOut(30px, 50px, none, 0.5em);
    background-color: transparent;

    cursor: pointer;
    &:hover .BsArrow {
    }
  }
}

@media all and (max-width: 605px) {
  form {
    margin-top: 20%;
    #input-box {
      @include inAndOut(30vh, 40vw, rgb(55, 51, 51) 8px 5px 10px 1px, 1.2em);
    }

    #output-box {
      @include inAndOut(30vh, 40vw, rgb(55, 51, 51) 8px 5px 10px 1px, 1.2em);
    }
  }
}
