$primary: #e3e6de;
$secondary: #4caf50;
$spray: #25ddcf;
$textColor: #31322f;

svg {
  border: 12px solid red;
}

//skin:#a0616a
@mixin neo-bru($color) {
  border: solid $color 2px !important;
  box-shadow: $color 10px 10px 1px;
  z-index: 10px;
}
