@use "./form";
@use "./display";
@use "./slider";
* {
  padding: 0%;
  margin: 0%;
}

.App {
  background-image: linear-gradient(55deg, #a0e7e5, #b4f8c8 75%);
  background-repeat: no-repeat;
  background-size: cover;
  main {
  }
}
li {
  list-style: none;
}
