@use "./form";
@use "./list";
@use "./slider";
@import "./utils";

body {
  background-image: linear-gradient(
    to bottom right,
    $primary 5%,
    $spray 30%,
    $secondary
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $textColor;
}
nav {
  background-color: transparent !important;
}
